.remove-item__description-container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
  }
}

.remove-item__description-container p {
  margin: 0;
  margin-right: 25px;
  margin-bottom: 5px;
  color: $greyfont-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.remove-item__description-container span {
  font-weight: 700;
  font-size: 14.8px;
}

.remove-item__button-recover {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
