// Цвет используемый в оформление
$grey: hsla(0, 0%, 43%, 1);
$lightgrey: hsla(0, 0%, 78%, 1);
$greycolor: hsla(0, 0%, 95%, 1);
$black: hsla(0, 0%, 0%, 1);

// Цвет шрифта
$darkfont-color: hsla(0, 0%, 0%, 1);
$greyfont-color: hsla(0, 0%, 43%, 1);
$lightgreyfont-color: hsla(0, 0%, 78%, 1);
$whitefont-color: hsla(0, 0%, 100%, 1);
$errorfont-color: hsla(0, 69%, 51%, 1);

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$tablet-width-only: 1199px;
